#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

p {
	margin: 0;
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.form {
	width: 600px;
	height: 744px;
	color: #000;
	background: #fff;
	border-radius: 24px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.form__title {
	font-size: 23px;
	font-weight: 500;
	line-height: 28px;
	text-align: left;
	margin: 0;
}

.inputField {
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;
	width: 100%;
}
.inputField input {
	width: 100%;
	border: 1px solid #b3b3b3b2;
	background: #fff;
	padding: 16px;
	border-radius: 12px;
	color: #000;
}

.inputField p {
	color: #22252bb2;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;
	text-align: left;
}

.error {
	height: 20px;
	color: red !important;
}

.inputField__small {
	display: flex;
	gap: 30px;
}

.btns {
	display: flex;
	gap: 20px;
}

.pay {
	padding: 16px 24px 16px 24px;
	gap: 16px;
	border-radius: 12px;
	background: #0663ef;
}

.back {
	padding: 16px 24px 16px 24px;
	gap: 16px;
	border-radius: 12px;
	color: #0663ef;
	background: #0663ef14;
}

.dialog {
	/* width: 500px; */
	background: #ffffff;
	padding: 50px;
	border-radius: 24px;
	color: #000;
	display: flex;
	flex-direction: column;
}

.dialog p {
	display: flex;
	justify-content: space-between;
}

.input-error {
	border: 1px solid red !important;
}
